.margin-bottom-1 {
    display: inline-block;
    margin-bottom: 10px;
}
.margin-bottom-5 {
    display: inline-block;
    margin-bottom: 100px;
}

.margin-bottom-10 {
    display: inline-block;
    margin-bottom: 100px;
}

.req-field:after {
    content: "*";
    color: red;
    font-weight: bold;
    font-size: 1.0em;
    white-space: nowrap;
}

.alert-info {
    color: #fff;
    background-color: #666666;
    border-color: #fff;
}