<!--The content below is only a placeholder and can be replaced.-->
<!--<nav class="site-header sticky-top py-1">-->
<!--<div class="container d-flex flex-column flex-md-row justify-content-between">-->
<!--<a class="py-2" routerLink="" routerLinkActive="active">SC</a>-->
<!--<a class="py-2" *ngFor="let calendar of calendars$ | async as calendars" routerLink="/{{calendar.name}}" routerLinkActive="active">{{calendar.name}}</a>-->
<!--</div>-->
<!--</nav>-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary mb-1">
  <div class="container">
    <a routerLink="/" class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler" [class.collapsed]="navbarClosing || navbarClosed" (click)="toggleNavbar()"  type="button" aria-controls="theNavbar" [attr.aria-expanded]="navbarOpening || navbarOpen" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--[@collapse]="isNavbarCollapsedAnim"-->
    <div id="theNavbar" #navCollapse
         class="navbar-collapse navbar-toggleable"
         [class.collapse]="navbarClosed || navbarOpen"
         [class.show]="navbarOpen"
         [class.collapsing]="navbarOpening || navbarClosing"
         (transitionend)="onTransitionEnd()">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item" *ngFor="let calendar of calendars$ | async as calendars" routerLinkActive="active">
          <a class="nav-link" routerLink="/{{calendar.shortName}}">{{calendar.name}}</a>
        </li>
        <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
          <button class="btn btn-link nav-link" (click)="login()">Login</button>
        </li>
        <li *ngIf="isLoggedIn$ | async" class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
        </li>
        <li *ngIf="canAccessAdmin$ | async" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
