<div class="row">
  <div class="col">
    <h2>Calendar: {{originalCalendar?.name || 'New'}}</h2>

    <form #calendarForm="ngForm">
      <ngb-tabset justify="justified">
        <ngb-tab title="Calendar">
          <ng-template ngbTabContent>

            <div class="card bg-light mt-3">
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="calendarName">Name</label>
                      <input class="form-control" id="calendarName" name="calendarName" [(ngModel)]="calendar.name">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="shortName">Short Name</label>
                      <input class="form-control" id="shortName" name="shortName" [(ngModel)]="calendar.shortName">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" name="description" [(ngModel)]="calendar.description"></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="website">Calendar Website</label>
                      <input type="url" class="form-control" id="website" name="website" [(ngModel)]="calendar.websiteUrl">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="calendar-image">Calendar image</label>
                      <sc-image-upload id="calendar-image" label="Select image" accept="image/*" [(imageUrl)]="calendar.imageUrl"></sc-image-upload>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="text-center text-primary"> a. <strong>WHO</strong> - background on the organisations and individuals responsible for developing the calendar</p>

            <div class="card bg-light">
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="organisationName">Organisation Name</label>
                      <input class="form-control" id="organisationName" name="organisationName" [(ngModel)]="calendar.organisationName">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="contributors">Contributors</label>
                      <input class="form-control" id="contributors" name="contributors" [(ngModel)]="calendar.contributors">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="contactName">Contact Name</label>
                      <input class="form-control" id="contactName" name="contactName" [(ngModel)]="calendar.contactName">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="contactEmail">Contact Email</label>
                      <input class="form-control" id="contactEmail" name="contactEmail" [(ngModel)]="calendar.contactEmail">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="keywords">Keywords</label>
                      <input class="form-control" id="keywords" name="keywords" [(ngModel)]="calendar.keywords">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="about">About</label>
                      <textarea class="form-control" id="about" name="about" [(ngModel)]="calendar.about"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="organisationUrl">Organisation URL</label>
                      <input class="form-control" id="organisationUrl" name="organisationUrl" [(ngModel)]="calendar.organisationUrl">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="organisationLogo">Organisation Logo</label>
                      <sc-image-upload id="organisationLogo" label="Select organisation logo" accept="image/*" [(imageUrl)]="calendar.organisationLogoUrl"></sc-image-upload>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="text-center text-primary">b. <strong>HOW</strong> - how the calendar was developed or created:</p>

            <div class="card bg-light">
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="development">How the calendar was developed</label>
                    <textarea class="form-control" id="development" name="development" [(ngModel)]="calendar.development"></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="references">References</label>
                      <input class="form-control" id="references" name="references" [(ngModel)]="calendar.references">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="referenceLinks">Reference Links</label>
                      <input class="form-control" id="referenceLinks" name="referenceLinks" [(ngModel)]="calendar.referenceLinks">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="text-center text-primary">c. <strong>WHY</strong> - for what purpose and for whom the calendar was created</p>

            <div class="card bg-light">
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="developmentReason">Why the calendar was developed</label>
                    <textarea class="form-control" id="developmentReason" name="developmentReason" [(ngModel)]="calendar.developmentReason"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <p class="text-center text-primary">d. <strong>USE</strong> - any qualifications or limitations on how the calendar can be used</p>

            <div class="card bg-light">
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="limitations">Limitations</label>
                      <input class="form-control" id="limitations" name="limitations" [(ngModel)]="calendar.limitations">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="licenceTerms">Licence terms</label>
                      <input class="form-control" id="licenceTerms" name="licenceTerms" [(ngModel)]="calendar.licenceTerms">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Language Group">
          <ng-template ngbTabContent>
            <div class="form-group">
              <label for="logos">Logos</label>
              <input class="form-control" id="logos" name="logos" [(ngModel)]="calendar.organisationLogoUrl">
            </div>

            <div class="form-group">
              <label for="youtubeId">Youtube ID</label>
              <input class="form-control" id="youtubeId" name="youtubeId" [(ngModel)]="calendar.youtubeId">
            </div>

            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input class="form-control" id="longitude" name="longitude" [(ngModel)]="calendar.longitude">
            </div>

            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input class="form-control" id="latitude" name="latitude" [(ngModel)]="calendar.latitiude">
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Seasons">
          <ng-template ngbTabContent>

            <ng-container *ngFor="let season of calendar.seasons; trackBy: trackByKey; index as seasonIndex">

              <button class="btn btn-warning btn-sm" (click)="deleteSeason(seasonIndex)">Remove season</button>

              <div class="form-group">
                <label>Language or local name</label>
                <input class="form-control" name="season-localName-{{seasonIndex}}" [(ngModel)]="season.localName">
              </div>

              <div class="form-group">
                <label>Alternate name</label>
                <input class="form-control" name="season-alternateName-{{seasonIndex}}" [(ngModel)]="season.alternateName">
              </div>

              <div class="form-group">
                <label>English Months Start</label>
                <input class="form-control" type="number" name="season-months-start-{{seasonIndex}}" [(ngModel)]="season.startMonth">
              </div>

              <div class="form-group">
                <label>English Months End</label>
                <input class="form-control" type="number" name="season-months-end-{{seasonIndex}}" [(ngModel)]="season.endMonth">
              </div>

              <div class="form-group">
                <label>Weather icons</label>
                <input class="form-control" name="season-weather-icons-{{seasonIndex}}" [(ngModel)]="season.weatherIcons">
              </div>

              <div class="form-group">
                <label>Season description</label>
                <textarea class="form-control" name="season-description-{{seasonIndex}}" [(ngModel)]="season.description"></textarea>
              </div>

              <ng-container *ngFor="let feature of season.features; trackBy: trackByKey; index as featureIndex">

                <button class="btn btn-warning btn-sm" (click)="deleteFeature(season, featureIndex)">Remove feature</button>

                <div class="form-group">
                  <label>Feature name (Language)</label>
                  <input class="form-control" name="feature-name-{{seasonIndex}}-{{featureIndex}}" [(ngModel)]="feature.name">
                </div>

                <div class="form-group">
                  <label>Feature name (English)</label>
                  <input class="form-control" name="feature-alternateName-{{seasonIndex}}-{{featureIndex}}" [(ngModel)]="feature.commonName">
                </div>

                <div class="form-group">
                  <label>Feature species</label>
                  <input class="form-control" name="feature-species-{{seasonIndex}}-{{featureIndex}}" [(ngModel)]="feature.scientificName">
                </div>

                <div class="form-group">
                  <label>Feature images</label>
                  <!--<input class="form-control" name="feature-species" [(ngModel)]="feature.scientificName">-->
                </div>

                <div class="form-group">
                  <label>Feature description</label>
                  <textarea class="form-control" name="feature-description-{{seasonIndex}}-{{featureIndex}}" [(ngModel)]="feature.description"></textarea>
                </div>

              </ng-container>

              <button class="btn btn-default" (click)="addFeature(season)">Add Feature</button>

            </ng-container>

            <button class="btn btn-primary" (click)="addSeason()">Add Season</button>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="card bg-light">
        <div class="row">
          <div class="col">
            <button class="btn btn-success" (click)="save()">Save Calendar</button>
            <button class="btn btn-default" (click)="next()">Next</button>
            <button class="btn btn-info" (click)="publish()">PublishCalendar</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>


