<div class="row">
  <div class="col">
    <a class="btn btn-primary float-right" routerLink="/admin/calendar/create">New Calendar</a>
    <h2>Admin</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Calendar name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let calendar of calendars">
          <td>{{ calendar.name }}</td>
          <td>
            <a class="btn btn-primary" routerLink="/admin/calendar/{{calendar.collectionUuid}}">Edit</a>&ngsp;
            <button *ngIf="!calendar.published" class="btn btn-secondary" disabled (click)="publish(calendar)">Publish</button>&ngsp;
            <button *ngIf="calendar.published" class="btn btn-secondary" disabled (click)="unpublish(calendar)">Unpublish</button>&ngsp;
            <button class="btn btn-danger" disabled (click)="delete(calendar)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
