<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
<sc-navbar></sc-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<sc-messagebar position="bottom-center"></sc-messagebar>
<footer class="bg-dark text-white-50">
  <div class="container p-3 p-md-5">
    <div class="row">
      <div class="col">
        <div class="text-center section-title">
          <h3>Seasonal Calendars</h3>
        </div>

        <p class="copyright">Intellectual Property</p>
        <p>The material in the seasonal calendars may be protected by copyright laws and may be used as permitted under the Copyright Act 1968 or in accordance with licences or notices/labels granted by the copyright owner and/or Indigenous knowledge holder(s). Even though the material exists in a digital context on this site, it is important to respect and acknowledge the community and/or cultural context within which it was created and how it can be used and shared.</p>
        <p>The material in the seasonal calendars may also include Indigenous cultural and intellectual property (ICIP) which is the cultural heritage of Indigenous people which comprises all objects, sites and knowledge, the nature or use of which has been transmitted or continues to be transmitted from generation to generation, and which is regarded as pertaining to a particular Indigenous group or its territory. The heritage of an Indigenous people is a living one and includes objects, knowledge and literary and artistic works which may be created in the future based on that heritage. Users of this website acknowledge that Indigenous people have the right to control, own and maintain their ICIP in accordance with Article 31 of the Declaration on the Rights of Indigenous Peoples.</p>
        <small><a target="_blank" href="http://www.ala.org.au/about-the-atlas/terms-of-use/">Terms of use for the Atlas of Living Australia </a></small>
      </div>
    </div>
  </div>
</footer>
