<!--Calendar Map
<div *ngIf="calendar">
  <h2>{{calendar.name | uppercase}} Details</h2>
  Map ReadOnly {{ mapReadonly }}
</div>-->


<!--Longtitude: {{calendar.longitude}}
Latitude: {{calendar.latitude}}-->
<div class="container"  style="margin-top: 30px; margin-bottom: 30px">
  <div class="row">

    <!-- Map -->
    <div class="col-sm-12">

      <div class="map"
       leaflet style="height: 450px;"
       [leafletOptions]="options"
       (leafletMapReady)="onMapReady($event)"
       [leafletLayers]="layers">

        <div *ngIf="!mapReadonly"
          leafletDraw
          [leafletDrawOptions]="drawOptions">
        </div>

      </div>
    </div>
  </div>
</div>



