<div class="table-responsive">
    <table class="table table-striped" ng-show="reportCtrl.reportData.records.length > 0">
        <thead>
        <tr><th>Profile</th><th>Date archived</th><th>Archived By</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in reportCtrl.reportData.records">
            <td>
                <!-- TODO test this vs relative to <base> -->
                <a ng-href="{{ config.contextPath }}/opus/{{ reportCtrl.opusId }}/profile/{{ profile.profileId }}"
                   target="_blank" class="scientific-name">{{profile.scientificName}}</a>
            </td>
            <td>
                {{ profile.archivedDate | date:'dd/MM/yyyy h:mm a' }}
            </td>
            <td>
                {{ profile.archivedBy }}
            </td>
        </tr>
        </tbody>
    </table>
</div>