<div class="padding-left-1 comment-wrapper">
    <div class="row">
        <div class="col-md-4 time">
            {{comment.dateCreated | date: 'dd/MM/yyyy HH:mm'}}
        </div>

        <div class="col-md-4 author">
            {{comment.author.name}}
        </div>

        <!-- config is on root scope -->
        <div ng-if="config.isOpusReviewer && (config.isOpusAuthor || comment.author.userId == config.currentUserId)"
             class="col-md-4">
            <button class="btn btn-link fa fa-trash-o color--red" ng-click="commentCtrl.deleteComment(path)"
                    title="Delete comment"></button>
            <button class="btn btn-link fa fa-edit" ng-click="commentCtrl.editComment(path)"
                    title="Edit comment"></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div data-ng-bind-html="comment.text | sanitizeHtml" ng-if="comment.uuid != commentCtrl.currentComment.uuid"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-link fa fa-reply" ng-click="commentCtrl.reply(comment.uuid)"
                    ng-if="commentCtrl.currentComment.parentCommentId != comment.uuid && comment.uuid != commentCtrl.currentComment.uuid">&nbsp;Reply</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="commentCtrl.currentComment && (comment.uuid == commentCtrl.currentComment.uuid || commentCtrl.currentComment.parentCommentId == comment.uuid)">
                <label for="commentText2" class="screen-reader-label">Comment text</label>
                <textarea id="commentText2" ng-model="commentCtrl.currentComment.text" ckeditor="richTextFullToolbar" required="required"></textarea>

                <div class="row pull-right">
                    <div class="col-sm-12 padding-top-1">
                        <button class="btn btn-primary"
                                ng-click="commentCtrl.saveComment(path)">Save comment</button>
                        <button class="btn btn-warning" ng-click="commentCtrl.cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="comment in comment.children | orderBy:'dateCreated'"
         ng-init="path = path.concat($index)" class="comment">
        <hr class="comment-divider"/>
        <ng-include src="'/profileEditor/commentContent.htm'"></ng-include>
    </div>
</div>