<div class="table-responsive">
    <table class="table table-striped" ng-show="reportCtrl.reportData.records.length > 0">
        <thead>
        <tr><th>Profile</th><th>Date draft created</th><th>Editor</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in reportCtrl.reportData.records">
            <td>
                <!-- TODO context path -->
                <a ng-href="{{ config.contextPath }}/opus/{{ reportCtrl.opusId }}/profile/{{ profile.scientificName }}"
                   target="_blank" class="scientific-name">{{profile.scientificName}}</a>
            </td>
            <td>
                {{ profile.draftDate | date:'dd/MM/yyyy h:mm a' }}
            </td>
            <td>
                {{ profile.createdBy }}
            </td>
        </tr>
        </tbody>
    </table>
</div>