<div class="modal-header">
    <h4 class="modal-title">Glossary Item</h4>
    <close-modal close="glossaryModalCtrl.cancel()"></close-modal>
</div>

<div class="modal-body">
    <alert class="alert-danger" ng-show="glossaryModalCtrl.error">{{ glossaryModalCtrl.error }}</alert>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="term" class="col-sm-3 control-label">Term</label>

            <div class="col-sm-8">
                <input id="term" type="text" ng-model="glossaryModalCtrl.item.term" class="form-control"
                       ng-enter="glossaryModalCtrl.ok()" ng-disabled="glossaryModalCtrl.item.uuid"/>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>

            <div class="col-sm-8">
                    <textarea id="description" type="text" ng-model="glossaryModalCtrl.item.description"
                              class="form-control"
                              ng-enter="glossaryModalCtrl.ok()" rows="6"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="glossaryModalCtrl.ok()">OK</button>
    <button class="btn btn-default" ng-click="glossaryModalCtrl.cancel()">Cancel</button>
</div>