<div class="form-horizontal">
    <div class="form-group" ng-hide="disableSource">
        <label class="col-sm-3 control-label">Upload source</label>
        <div class="col-sm-9">
            <label class="radio-inline">
                <input type="radio" ng-model="imageUpload.source" value="file" ng-change="imageUpload.clearUrl()" class="ignore-save-warning"> File
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="imageUpload.source" value="url" ng-change="imageUpload.clearFiles()" class="ignore-save-warning"> URL
            </label>
        </div>
    </div>
    <div ng-show="imageUpload.source == 'file'">
        <div class="form-group">
            <label for="file" class="col-sm-3 control-label">Image *</label>

            <div class="col-sm-9">
                <span class="btn btn-default btn-file">
                    Choose file
                    <input id="file" type="file" ngf-select="" ng-model="imageUpload.files" name="file"
                           accept="image/*" alt="preview" title="Image preview"
                           ng-required="imageUpload.source == 'file'">
                </span>
                <span class="font-xsmall">{{ imageUpload.files[0].name }}</span>
            </div>
        </div>
        <div class="form-group" ng-show="imageUpload.files[0] != null">
            <label class="col-sm-3 control-label">Preview</label>

            <div class="col-sm-9">
                <div class="upload-image-preview">
                    <img ngf-src="imageUpload.files[0]" class="thumbnail">
                </div>
            </div>
        </div>
    </div>
    <div ng-show="imageUpload.source == 'url'">
        <div class="form-group" >
            <label for="url" class="col-sm-3 control-label">Image URL *</label>

            <div class="col-sm-9">
                <input id="url" type="url" ng-model="imageUpload.url" name="url" class="form-control"
                       placeholder="https://example.com/image.png"
                       ng-required="imageUpload.source == 'url'">
            </div>
        </div>
        <div class="form-group" ng-show="imageUpload.url">
            <label class="col-sm-3 control-label">Preview</label>

            <div class="col-sm-9">
                <div class="upload-image-preview">
                    <img ng-src="{{imageUpload.url}}" fallback-src="{{ imageUpload.imageLoadErrorUrl }}" class="thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="showMetadata">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Title *</label>

            <div class="col-sm-9">
                <input id="title" type="text" ng-model="metadata.title" class="form-control"
                       required ng-required="true"/>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="created" class="col-sm-3 control-label">Date Taken</label>

            <div class="col-sm-9">
                <fallback-date-picker field-id="created" ng-model="metadata.created" />
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>

            <div class="col-sm-9">
                        <textarea id="description" ng-model="metadata.description"
                                  class="form-control" rows="3" maxlength="1024" ng-maxlength="1024"></textarea>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="owner" class="col-sm-3 control-label" required>Owner</label>

            <div class="col-sm-9">
                <input id="owner" type="text" ng-model="metadata.creator"
                       class="form-control"
                       placeholder="Photographer/illustrator"/>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="rights" class="col-sm-3 control-label" required>Rights</label>

            <div class="col-sm-9">
                <input id="rights" type="text" ng-model="metadata.rights"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="rightsHolder" class="col-sm-3 control-label" required>Rights Holder</label>

            <div class="col-sm-9">
                <input id="rightsHolder" type="text" ng-model="metadata.rightsHolder"
                       class="form-control" placeholder="e.g. {{opus.title}}"/>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="licence" class="col-sm-3 control-label" required>Licence *</label>

            <div class="col-sm-9">
                <select id="licence"
                        ng-options="licence for licence in licences track by licence"
                        ng-model="metadata.licence" class="form-control" ng-required="true">
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <p class="small pull-right">
            Fields marked with an asterisk (*) are mandatory.
        </p>
    </div>
</div>

<div class="col-md-12">
    <button class="btn btn-primary pull-right" ng-if="updateMode" ng-show="!updateOnEvent" ng-click="save()">
        Save
    </button>
    <button class="btn btn-primary pull-right" ng-if="!updateMode" ng-show="!uploadOnEvent" ng-click="doUpload()" ng-disabled="(!imageUpload.files || imageUpload.files.length == 0) && !imageUpload.url">
        Upload
    </button>
</div>
