<div>
    <div class="modal-header">
        <h4 class="modal-title">Image details</h4>
        <close-modal close="imageMetadataCtrl.cancel()"></close-modal>
    </div>

    <div class="modal-body" ng-cloak>
        <div class="row margin-bottom-1">
            <div class="col-sm-12">
                <div id="imageViewer" class="image-viewer"></div>
                <div id="carousel" class="slider-pro"></div>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.title">
            <div class="col-md-3">
                <span class="output-label">Title</span>
            </div>
            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.title }}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.created">
            <div class="col-sm-3">
                <span class="output-label">Date Taken</span>
            </div>

            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.created | date : 'yyyy-MM-dd'}}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.description">
            <div class="col-md-3">
                <span class="output-label">Description</span>
            </div>

            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.description }}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.creator">
            <div class="col-sm-3">
                <span class="output-label">Owner</span>
            </div>

            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.creator }}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.rights">
            <div class="col-sm-3">
                <span class="output-label">Rights</span>
            </div>

            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.rights }}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.rightsHolder">
            <div class="col-sm-3">
                <span class="output-label">Rights Holder</span>
            </div>
            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.rightsHolder }}</span>
            </div>
        </div>

        <div class= "row margin-bottom-1" ng-show="imageMetadataCtrl.image.metadata.licence">
            <div class="col-sm-3">
                <span class="output-label">Licence</span>
            </div>
            <div class="col-sm-9">
                <span>{{ imageMetadataCtrl.image.metadata.licence }}</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
                <a class="pull-right"
                   ng-href="{{config.imageServiceUrl}}/image/details?imageId={{imageMetadataCtrl.image.imageId}}"
                   target="_blank" ng-if="imageMetadataCtrl.image.type.name == 'OPEN'">View the image in the ALA&nbsp;<span class="fa fa-external-link superscript small"></span></a><br/>
                <a class="pull-right padding-top-1"
                   ng-href="{{config.biocacheRecordUrl}}{{imageMetadataCtrl.image.occurrenceId}}"
                   target="_blank" ng-if="imageMetadataCtrl.image.type.name == 'OPEN'">View the record in the ALA&nbsp;<span class="fa fa-external-link superscript small"></span></a>
            </div>
                <button class="btn btn-default" ng-click="imageMetadataCtrl.cancel()">Close</button>
        </div>
    </div>
</div>