<div class="modal-header">
    <h3 class="modal-title">{{ mmDlgCtrl.doc.documentId ? 'Edit': 'Add' }} Multimedia</h3>
</div>
<div class="modal-body">
    <form name="mmDlgCtrl.form">
        <div class="form-group" show-errors>
            <label for="url">URL</label>
            <input type="url" class="form-control" id="url" name="url" placeholder="https://youtu.be/ZXCVASDF" ng-model="mmDlgCtrl.doc.url" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" ng-change="mmDlgCtrl.urlUpdated()" required oembed="mmDlgCtrl.description">
            <p class="help-block">Enter the URL for an embeddable multimedia object here (only the URL, not an embeddable iframe).  Supported services: Sound Cloud, YouTube, Vimeo, TED Talks, Wistia.</p>
            <span ng-show="mmDlgCtrl.form.url.$pending.description"><i class="fa fa-cog fa-spin"></i> Checking URL...</span>
            <span ng-show="mmDlgCtrl.form.url.$error.description">Couldn't retrieve information for URL, please check the URL and try again.</span>
        </div>

        <div class="well well-sm" ng-show="mmDlgCtrl.description">
            <h4>Multimedia information</h4>
            <dl ng-show="mmDlgCtrl.description">
                <dt>Service</dt>
                <dd ng-bind="mmDlgCtrl.description.service.name"></dd>
                <dt>Title</dt>
                <dd ng-bind="mmDlgCtrl.description.embed.title"></dd>
                <dt>Author</dt>
                <dd ng-bind="mmDlgCtrl.description.embed.author_name"></dd>
                <dt>Type</dt>
                <dd ng-bind="mmDlgCtrl.description.embed.type"></dd>
            </dl>
        </div>

        <div class="form-group" show-errors>
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Title" required ng-model="mmDlgCtrl.doc.name">
        </div>

        <div class="form-group" show-errors>
            <label for="attribution">Attribution</label>
            <input type="text" class="form-control" id="attribution" name="attribution" placeholder="Copyright 2016 Some Guy" ng-model="mmDlgCtrl.doc.attribution">
        </div>

        <div class="form-group" show-errors>
            <label for="licence">Licence</label>
            <input type="text" class="form-control" id="licence" name="licence" placeholder="CC0" ng-model="mmDlgCtrl.doc.licence">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="mmDlgCtrl.form.$invalid" ng-click="mmDlgCtrl.save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="mmDlgCtrl.cancel()">Cancel</button>
</div>