<div ng-form="RestoreForm">
    <div class="modal-header">
        <h4 class="modal-title">Restore Profile</h4>
        <close-modal close="restoreCtrl.cancel()"></close-modal>
    </div>

    <div class="modal-body">
        <p>
            A profile already exists with this name. You will need to rename this profile before it can be restored.
        </p>

        <profile-name name="restoreCtrl.newName"
                      valid="restoreCtrl.nameIsValid"
                      current-profile-id="restoreCtrl.profileId"
                      manually-matched-guid="restoreCtrl.manuallyMatchedGuid"></profile-name>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="restoreCtrl.ok()" ng-disabled="RestoreForm.$invalid || !restoreCtrl.nameIsValid">OK</button>
        <button class="btn btn-default" ng-click="restoreCtrl.cancel()">Cancel</button>
    </div>
</div>