<!-- template for the editable view of an attribute list -->
<div ng-repeat="attribute in attrCtrl.attributes" ng-form="AttributeForm" ng-show="!attrCtrl.readonly" ng-cloak>
    <navigation-anchor anchor-name="edit_{{attribute.key}}" title="{{attribute.title}}" category="attribute"></navigation-anchor>
    <ng-include src="'/profileEditor/showEditableAttribute.htm'" ng-if="!attribute.fromCollection"></ng-include>

    <div ng-if="attrCtrl.showAttribute(attribute)">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2"><strong>{{attribute.title}}</strong></div>

                    <div class="col-sm-10">
                        <ng-include src="'/profileEditor/readOnlyAttributeBody.htm'"></ng-include>
                    </div>
                </div>

                <div class="panel-footer" ng-show="attrCtrl.opus.allowCopyFromLinkedOpus && !attrCtrl.readonly">
                    <div class="row">
                        <span class="col-md-12">
                            <span class="pull-right">
                                <button class="btn btn-default"
                                        ng-click="attrCtrl.copyAttribute($index, AttributeForm)">Copy to this profile</button>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>