<!-- Template for the "Show in other collections" popup -->
<div class="modal-header">
    <h4 class="modal-title">Usages in other collections</h4>
    <close-modal close="attrModalCtrl.close()"></close-modal>
</div>

<div class="modal-body">
    <alert type="info"
           ng-show="!attrModalCtrl.supporting || attrModalCtrl.supporting.length == 0">This attribute is not used in the supporting collection(s).</alert>

    <div class="panel panel-default" ng-repeat="attribute in attrModalCtrl.supporting"
         data-content="{{ attribute.opusTitle }}" ng-show="attrModalCtrl.supporting.length > 0">
        <div class="panel-body">
            <div class="col-sm-2"><strong>{{attribute.opusTitle}}</strong></div>

            <div class="col-sm-10">
                <div ng-bind-html="attribute.text" class="display-text"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="attrModalCtrl.close()">Close</button>
</div>