<div class="panel panel-default" ng-form="VocabForm" ng-cloak>
    <div class="panel-heading">
        <h4 class="section-panel-heading">{{ vocabName }}</h4>
        <div class="pull-right text-right padding-left-1" ng-show="helpUrl">
            <a ng-href="{{helpUrl}}" class="help-icon" title="Click to view help content" target="_blank">
                <span class="fa fa-question-circle"></span>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <p>{{ vocabName }} settings</p>

                <div class="radio">
                    <label for="strict_{{$id}}" class="inline-label">
                        <input id="strict_{{$id}}" type="radio" name="strict_{{$id}}" ng-value="true"
                               ng-model="vocabulary.strict">
                        Strict: Only terms from this vocabulary can be used. New values can only be added on this page.
                    </label>
                </div>

                <div class="radio">
                    <label for="notStrict_{{$id}}" class="inline-label">
                        <input id="notStrict_{{$id}}" type="radio" name="strict_{{$id}}" ng-value="false"
                               ng-model="vocabulary.strict">
                        Not Strict: Terms that are not defined in this vocabulary can be used (new values will be
                        automatically added to the vocabulary).
                    </label>
                </div>
                <hr/>

                <label for="newTerm_{{$id}}">Enter a new term</label>

                <div class="input-group">
                    <input id="newTerm_{{$id}}" type="text" class="form-control input-lg" ng-model="newVocabTerm"
                           ng-enter="addVocabTerm(VocabForm)">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="button" ng-click="addVocabTerm(VocabForm)"><i
                                class="fa fa-plus"></i> Add term
                        </button>
                    </span>
                </div>

                <h4>Existing terms</h4>

                <div class="col-md-12">

                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Order</th>
                                <th>Term</th>
                                <th ng-show="allowMandatory">
                                    Mandatory?
                                </th>
                                <th ng-show="allowCategories">
                                    Name? <span class="fa fa-question-circle"
                                                title="This indicates that the attribute contains alternate names, and should be included in the Name Search. Alternate names are also displayed below the profile name on the view page."></span>
                                </th>
                                <th ng-show="allowCategories">
                                    Summary? <span class="fa fa-question-circle"
                                                   title="This indicates that the attribute should be displayed as the summary text in the search results."></span>
                                </th>
                                <th>Options</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="term in vocabulary.terms" ng-if="!termIsInReplacementList(term)">
                                    <td>{{ term.order + 1 }}</td>
                                    <td>{{ term.name }}</td>
                                    <td ng-show="allowMandatory">
                                        <input type="checkbox" ng-model="term.required" name="required">
                                    </td>
                                    <td ng-show="allowCategories">
                                        <input type="checkbox" ng-model="term.containsName" name="containsName">
                                    </td>
                                    <td ng-show="allowCategories">
                                        <input id="term{{$index}}" type="radio" ng-model="term.summary" name="summary"
                                               ng-value="true" ng-change="summaryChanged($index)">
                                    </td>
                                    <td>
                                        <div class="inline-block">
                                            <button class="btn btn-link btn-xs fa fa-edit"
                                                    title="Edit the {{ term.name }} term"
                                                    ng-click="editVocabTerm($index, VocabForm)"></button>
                                            <button class="btn btn-link btn-xs fa fa-trash-o color--red"
                                                    title="Delete the {{ term.name }} term"
                                                    ng-click="removeVocabTerm($index, VocabForm)"></button>
                                            <button class="btn btn-link btn-xs fa fa-arrow-down"
                                                    ng-if="!$last && allowReordering"
                                                    ng-click="moveTermDown($index, VocabForm)"
                                                    title="Move this term down"></button>
                                            <button class="btn btn-link btn-xs fa fa-arrow-up"
                                                    ng-if="!$first && allowReordering"
                                                    ng-click="moveTermUp($index, VocabForm)"
                                                    title="Move this term up"></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" ng-if="allowReordering">
                            <div class="col-md-12">
                                <button class="btn btn-link pull-right small"
                                        ng-click="sortAlphabetically(VocabForm)">Sort alphabetically
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-click="loadVocabulary(VocabForm)">
                        Reset
                    </button>
                </div>
                <save-button ng-click="saveVocabulary(VocabForm)" form="VocabForm"></save-button>
            </div>
        </div>
    </div>
</div>
